.popup__container-img {
    width: 816px;
    min-height: 562px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    row-gap: 10px;
}

@media screen and (max-width: 1279px) {
    .popup__container-img {
        width: 240px;
        min-height: 320px;
    }
}