.header {
    max-width: 880px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(54, 54, 54, 0.7);
    padding-bottom: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width:1279px) {
    .header {
        max-width: 320px;
        padding-bottom: 31px;
    }
}