.profile__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    grid-area: subtitle;
    margin: 0 0 0 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media screen and (max-width: 1279px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        justify-self: center;
        max-width: 282px;
    }
}