.profile__info {
    display: grid;
    grid-template-columns: 120px 1fr 24px;
    grid-template-areas:
        "avatar title button"
        "avatar subtitle .";
    row-gap: 16px;
    column-gap: 18px;
}

@media screen and (max-width: 1279px) {
    .profile__info {
        grid-template-columns: 1fr 189px 1fr;
        grid-template-areas:
            "avatar avatar avatar"
            "title  title button"
            "subtitle subtitle subtitle";
        gap: 14px 10px;
    }
}